:root {
    --main-color: #10cab7;
    --sec-color: #1f8b8f;
}
html {
    scroll-behavior: smooth;
}
.special-heading {
    color: rgba(211, 205, 205, 0.377);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -10px;
    margin: 0;
} 
.special-heading:hover {
    color: var(--main-color);
}
.special-heading + p {
    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color:#b54;
    font-weight: 800;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "work sans", sans-serif;
}
.parent {
    background-color: #eee;
    
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.container img {

    background-color: #eee;
    width: 350px;
    height: 300px;
    transition: 0.3s;
}
.container h1 {
    color: var(--main-color);
    text-align: center;
    text-shadow: #333;
    font-size: xx-large;
}

.container img:hover {
    transform: scale(1.2);
}
@media (min-width: 375px) {
    .container {
        width: 375px;
    }
}
@media (max-width: 700px) {
    .services .service .srv {
        flex-direction: column;
        text-align: center;
        
    }
}
@media (min-width: 700px) {
    .container {
        width: 700px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.header {
    padding: 20px;
}
.header img {
    height: auto;
    transform: none;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}
.header .links:hover ul {
    display: block;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links:hover .icon span:first-child {
    width: 50%;
}
.header .links:hover .icon span:last-child {
    width: 50%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child {
    width: 100%;
    transition: .3s;
}
.header .links .icon span:nth-child(2) {
  width: 75%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
    width: 100%;
    transition: 0.3s;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul a {

    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul a:hover {
    padding-left: 25px;
    background-color: var(--main-color);
}
.header .links ul li:not(:last-child) a {
    border-bottom:1px solid #ddd ;
}
.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 100px);
    position: relative;
}
.landing .intro-text {
position: absolute;
left: 50%;
top: 50%;
text-align: center;
transform: translate(-50%, -50%);
width: 300px;
max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color:var(--main-color)
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    font-weight: bold;
}
/* start features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
    
.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: xx-large;
    transition: 0.3s;
}
.features .feat i:hover {
    color: #b54;
    font-size: xx-large;
    transform: scale(1.8);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat h3 a {
    font-weight: 800;
    margin: 30px 0;
    text-decoration: none;
    color: #b54;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End features */
/* start services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.services .service {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .service .srv {
    display: flex;
    margin-bottom: 40px;

}
.services .service .srv i {
    color: var(--main-color);
    font-size: xx-large;
    transition: 0.3s;
    margin-right: 20px;
}
.services .service .srv i:hover {
    color: #b54;
    font-size: xx-large;
    transform: scale(1.2);
}
.services .service .srv .text {
    flex: 1;
    margin-top: 20px;
}
.services .service .srv .text h3 {
    margin: 0 0 20px;
}
.services .service .srv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}
.services  .image img {
    width: 300px;

}
.services .service .image {
    text-align: center;
    position: relative;
}
.services .service  .image::before {
    content: "";
    background-color: var(--sec-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

@media (max-width: 1199px) {
    .img-x {
        display: none;
    }
    
}
/* end services */
/* Start portfolio */
.portfolio {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: rgb(245, 237, 237);
}

.portfolio .portfol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.portfolio .portfol .card {
background-color: white;
text-align: center;
}
.portfolio .portfol .card img {
    max-width: 100%;
    border: #10cab7 1px solid;

}
.portfolio .portfol .card .info {
    padding: 20px;
}
.portfolio .portfol .card .info h3 {
    margin: 0;
    color: var(--sec-color);
}
.portfolio .portfol .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* End portfolio */
/* Start About */

.about {
    padding-top: 60px;
    padding-bottom: 60px;

}
.abo {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .abo .image::before,
    .about .abo .image::after {
    display: none;
}
}
@media (max-width: 991px) {
    .about .abo {
        flex-direction: column;
        text-align: center;
    }
}
.about .abo .image {
    position: relative;
    width: 250px;
    height: 500px;
    
}
@media (max-width: 991px) {
    .about .abo .image {
       margin-left: 150px;
        margin-right: auto;
    }
}
@media (max-width: 700px) {
    .about .abo .image {
        margin-left: 10px;
        margin-right: auto;
    }
}
.about .abo .image::before {
content: "";
position: absolute;
background-color: #999da1;
width: 100px;
height: calc(100%);
top: -40px;
left: -20px;
z-index: -1;
}
.about .abo .image::after {
content: "";
position: absolute;
width: 120px;
height: 420px;
border-left: 80px solid var(--main-color);
border-bottom: 80px solid var(--main-color);
z-index: -1;
right: -150px;
top: -40px;
}
.about .abo .text {
    flex-basis: calc(100% - 450px);
    color: #777;
    font-size: 20px;
    
    
}
.about .abo .text p:first-of-type {
    font-weight: bold;
    line-height:2;
    margin-bottom: 50px;
    color: #333;
    

}
.about .abo .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);

}
.about .abo .text p:last-of-type {
    line-height: 2;
    color: #999da1;

}
/* End About */
/* start contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(245, 237, 237);
}
.contact .info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--sec-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--sec-color);
}

/* end contact */
/* start footer */
.footer {
    background-color: var(--sec-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 12px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */


